
/*== H nav ==*/
#op-horizontalnav {background:#171717; position:fixed; top:0; right:0; left:0}
#op-horizontalnav .op-sectionlist {width:100%; max-width:1280px; margin:auto;padding:0; text-align:center; display:table;}
#op-horizontalnav .op-v-item {list-style:none; display:table-cell; font-size:16px}
#op-horizontalnav .op-v-item .op-v-link {color:#fff; padding:16px 8px;display:block;text-decoration:none}
#op-horizontalnav .op-v-item .op-v-link:hover, #op-horizontalnav .op-v-link.active {background-color:#fff;color:#171717}

/*== Sections ==*/
section .step {padding:450px; text-align:center; color:white; background:#333; border-top:1px solid red; margin:0}
section:nth-child(even) .step {background:#222;} /*on différencie la couleur 1 section sur 2*/

