body {
    margin: 0;
}
.conteneur
{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: #9c9f9a;
    max-width: 1280px;
    margin: auto;
    background-color: #ececec;
    padding: 0px 80px;
}
.menu 
{
    display: flex;
    text-decoration: none;
    list-style-type: none;
    padding: 1px 5px 7px 0px;
    margin: 25px;
    justify-content: flex-end;
}
.menu li a
{
    text-decoration:none;
    list-style-type: none; 
    padding: 10px;
    color:rgb(46, 46, 46);
    justify-content: flex-end;
    font-size: 12px;
}
nav
{
    display: flex;
    justify-content:space-between;
}
.logonav
{
    display: flex;
}
.logo
{
    max-width: 100%;
    top: 50%;
    left: 0;
    transform: translate(0, 50%);
}
.img1
{
    position:relative; 
    z-index:1;
    background-image: url('img/header.jpg');
    background-repeat: none;
    width: 1280px;
    height: 760px;
}
h1
{
    top: 320px;
    width: 640px;
    height: 400px;
    z-index: 2;
    position: relative;
    margin:auto;
    text-align: center;
    color: white;
    position: center;
    font-size: 300%;
    text-align: center;
    line-height: 62px;
}
.italic
{
   font-family: Georgia;
   font-weight: lighter;
   font-style: italic;
   font-family: cursive;
   /*margin:0px;*/
}

.whiteblock {
    background-color: white;
    padding: 30px; 
    margin: 25px 0px;
}

 .bloc1Img
{
    display: flex;
    background-color: white;
}
.h9
{
    text-align : center;
}
h2 
{
    text-align: center;
    margin:0px;
    font-size:40px;   
}
p 
{
    text-align: center;
    margin: 5px;
}
.services
{
    display: flex;
    justify-content:space-between;
    margin: auto;
    width: 800px;
} 

.services p {
    text-align: center;
}
.milieu
{
    margin: 0px 1px;
}
.skill 
{
    flex-wrap:25px 
    
}
.news
{
     /* display: flex; */
     justify-content: space-between;
     background-color: white;
     padding: 10px;
     margin: 25px 0px;
 
}
.news h3 
{ 
    text-align: center;
}
.tpcentre
{
    text-align: center;
}
.deuxP
{
    display: flex;
    justify-content: space-between;
    padding: 59px;
    margin: -32px -1px;
}
.petitbloc
{    
    padding: 36px;
    margin: -40px 0px;
    text-align: justify;
    margin-top: -38px;
}
h3
{
    font-size: 26px;
}
.skills
{
    background-color: white;
    padding: 30px;
    margin: 25px 0px;
    /* display: flex; */
    /* align-self: auto; */
    padding: 0px 0px 0px 0x;
    /* margin: 0px; */
}
.blocbar
{   display: flex;
    background-color: white;
    padding: 27px;
    margin: 12px 0px;
    justify-content: space-between;
}
.blocbar1 p
{    text-align: start;
    font-size: 24px;
    font-style: italic;
}
.blocbar2 p
{
    text-align: start;
    font-size: 24px;
    font-style: italic;
}

.progress
{  
    margin-top: 5px;
    padding: 0px;
}
.progress-bar
{   
    margin: 5px;
    width: 417px;
    height: 18px;
    
    background-color: #dedcdc;
    position: relative;
    z-index:1;
}
.progress-bar2 {

    background: #dedcdc;
    text-align: right;
    width: 417px;
    height: 17px;
}
.prog {
    background: #879b90;
    height: 18px;

    }
.blocblanc
    {   
        background: white;
        margin: 22px 0px;
        width: 1280px;
        height: 161px;
        padding-top: 27px;
    }
.blocblanc p
    {
        margin: -3px 0px;
        padding-top: 27px;
        font-style: italic;
    }
    .blocblanc p span
    {
        color: black;
    }
    .contact
    {
        background: white;
       
       /* width: 1280px;
        height: 379px;
        margin: 15px;*/
        padding: 15px;
    }
.bold
    {
    text-align: center;
    font-size: 30px;
    font-style: lighter;
    }
    .form
    {
        display: flex;
        height: 379px;
        /* padding-top: 27px; */
        margin: 89px;
        justify-content: space-between;  
    }
    .form input,.form textarea
    {
    width: 413px;
    border:1px solid #dedcdc; 
    margin-top: 10px;
    margin-bottom :10px;
    }
    .form input
    {
        height: 34px; 
    }
    .contact .JD
    {
color: black;
    }
    .contact p 
    {
        text-align: left;
    }
    .contact p .it
    {
        font-style: italic;
    }
    .send input
    {
        width: 30px;
        height: 30px; 
        width: 85px;
    height: 41px;
    background:  #dedcdc;
    }
    
.pttextalign
{
    display: flex;

}
.pttextalign p
{
    margin: 7px 42px -0px -10px;
}
footer
{
    display: flex;
    justify-content: space-between;
    height: 73px;
    margin: 25px;
}